@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*:focus{
    -webkit-tap-highlight-color:transparent;
    outline:none !important;
}
/* rreshti i pare */
.kontakt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
    padding-right:25px;
    position: absolute;
    top:-34px;
    z-index: 20;
    width:100vw;
    left:1px;
}
/* rreshti i pare kontaktet ne te majt */
.cel {
    display: flex;
    margin-top: -10px;
}
.cel i {
    margin-right: 8px;
}
.cel p {
    margin-right: 20px;
    margin-left: -5px;
    top: -1px;
}
.cel p span {
    position: relative;
    top: -1px;
    margin-left:-5px;
}
/* rreshti i pare social media icons ne te djathte */
.social {
    margin-top: 6px;
}
/* navigation bar style */
.navbar {
    background-color: rgb(255, 255, 100);
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    padding: 15px 16px;
    width: 100%;
    position: relative;
    z-index: 15;
    justify-content: space-between;
}
/* logua tek navigation bar */
.imazh-logo {
    width: 100px;
    margin-top: -3px;
}
/* navbar elements */
.nav .nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav li {
    padding: 14px 20px;
}
.nav li a {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: block;
}
.nav li a:hover {
    color: #ffffff;
}
.nav-menu{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.boshlek{
    width: 85px;
    display: block;
}
.vije{
    display:none;
}
/* nisja e home page-it */
.homepage-start {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -750px;
    z-index: 1;
}
.img-backgroung{
    display: flex;
    flex-direction: row;
}
.background {
    position: relative;
}
.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 35%);
    pointer-events: none;
}
.background img {
    display: block;
    z-index: -1;
}
.big-logo {
    width: 300px;
    margin-top: 30px;
    transition: width 0.5s ease-in-out; 
}
h2.slogan {
    text-align: center;
    padding: 10px 30px;
    font-size: 24px;
    transition: font-size 0.3s ease;
}
/*seksioni i kutive per familjen dhe bletet*/
.kutite{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -650px;
    padding:50px;
    align-items: center;
    justify-content: center;
    gap:130px;
}
.family, .blete{
    background-color: #ffffff;
    width:450px;
    height:450px;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:70px 80px;
    border-radius: 50px;
    display: flex;
    gap:10px;
    box-shadow: -15px -12px 7px rgb(251, 255, 3);
}
.p-kuti{
    font-size: 20px;
}
.family img{
    width:200px;
}
.blete img{
    width:185px;
}
/* seksioni historia jone ne homepage */
.historia {
    height: 700px;
    background-image: url("images/Untitled\ design\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    margin-top:50px;
}
.historia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1.5), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1.5));
    pointer-events: none;
}
.histori{
    font-size:30px;
}
.hexagon-container {
    position: relative;
    max-width: 850px;
}
.hexagon {
    width: 850px;
    transition: transform 3s ease,width 0.5s ease;
    margin-left:-17px;
    margin-top:0px;
}
.teksti {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    z-index: 1;
    margin-left: 7px;
    margin-top:-10px;
}
.teksti .histori-paragraf{
    font-weight: 200;
}
.link1{
    margin-top:-13px;
    margin-left: -12px;
}
a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: center;
    font-weight: 300;
}
.link1 a:hover{
    font-weight: bolder;
}
.arrow {
    width: 13px;
    height: 13px;
    margin-right: 3px;
    margin-top:0em;
}
/*seksioni per vetite e mjaltit*/
.vetite{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:30px 50px;
}
.li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:20px;
}
.li img{
    margin-top:23px;
    width:25px;
    height:20px;
}
.vetit-img{
    width:400px;
}
/*produktet section in homepage*/
.titulli-produkti1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titull-produkti{
     position: relative;
     transition: font-size 0.3s ease;
     font-size:24px;
}
.produktet {
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
}
.scroll-container {
    align-items: center;
    margin-top:20px;
}
.scroll-wrapper {
    overflow: hidden;
    width: 1340px;
    margin-left:8px;
}
.scroll-content {
    display: flex;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
}
.scroll-item {
    height: 380px;
    margin: 12px;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    font-size: 24px;
    width: 420px;
    border-radius: 8px;
    flex: none;
    position: relative;
    transition: transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.scroll-item:hover {
    transform: scale(1.03);
}
.scroll-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none; 
    color: inherit;
    gap:0;
}
.scroll-item-link h5, .scroll-item-link p{
    margin:0;
    padding:0;
}
.scroll-item-link h5{
    padding-bottom: 10px;
    font-size: 19px;
}
.scroll-item-link p{
    font-size: 20px;
}
.scroll-item:nth-child(1) img{
    width:170px;
    padding-bottom:30px;
}
.scroll-item:nth-child(5) img{
    width:170px;
    padding-bottom:30px;
}
.scroll-item:nth-child(2) img{
    height:200px;
    width:100px;
    padding-bottom:30px;
}
.scroll-item:nth-child(6) img{
    height:200px;
    width:100px;
    padding-bottom:30px;
}
.scroll-item:nth-child(3) img{
    height:180px;
    width:150px;
    padding-bottom:30px;
}
.scroll-item:nth-child(7) img{
    height:180px;
    width:150px;
    padding-bottom:30px;
}
.scroll-item:nth-child(4) img{
    width:170px;
    padding-bottom:10px;
}
.scroll-item:nth-child(8) img{
    width:170px;
    padding-bottom:10px;
}
.scroll-button {
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}
#scroll-left{
    left:0px;
    margin-top:205px;
}
.left{
    width: 40px;
    transform: rotate(180deg);
    opacity: 0.3;
}
#scroll-right{
    right:0px;
    margin-top:-200px;
}
.right{
    width: 40px;
    opacity: 0.3;
}
/*butoni per porosine*/
.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left:10px;
    margin-top:-40px;
    position: relative;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
    background-color: #fff;
    color: #777;
    border:2px solid black;
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn-white::after {
    background-color: #fff;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* homepage keyframe */
.reveal {
    position: relative;
    opacity: 0;
    transition: opacity 1.5s ease;
}
.reveal.active {
    opacity: 1;
}
.reveal2 {
    position: relative;
    opacity: 0;
    transition: opacity 2s ease;
}
.reveal2.active {
    opacity: 1;
}
.teksti {
    opacity: 0;
    transition: opacity 1s ease;
}
#hexagon {
    transition: transform 2s ease; 
}
.active.fade-bottom {
    animation: fade-bottom 1.3s ease-in;
}
.active.fade-left {
    animation: fade-left 1.3s ease-in;
}
.active.fade-right {
    animation: fade-right 1.3s ease-in;
}
.active.fade-top{
    animation: fade-top 1.3s ease-in;
}
@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-top {
    0%{
     transform: translateY(-100px);
     opacity:0;
    }
    100%{
     transform: translateY(0);
     opacity:1;
    }
}
/*imazhi ne homepage hexagon para fundit*/
.hexagon-fundi{
    position:relative;
    z-index: -10;
    margin-top:-550px;
    display: flex;
    flex-direction: row;
}
.hexagon-fundi::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 35%);
    pointer-events: none;
}
.hexagon-fundi img{
    display:block;
}
/* fundi i pare */
.fundi1 {
    background-color: rgb(255, 255, 100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 150px;
    font-size: 20px;
    transition: font-size 0.3s ease;
    margin-top:-65px;
}
.logo-fundi {
    width: 170px;
    margin-top: -40px;
    margin-left: 35px;
}
.fundi1 h5 {
    margin-top: 40px;
    padding: 0px;
    font-size: 20px;
    transition: font-size 0.3s ease;
}
.fundi1 h5:nth-child(3){
    padding: 0px;
    padding-right: 25px;
    padding-left:0px;
}
.fundi1 h5:nth-child(1){
    padding-right:0px;
    padding-left:45px;
}
/* fundi i dyte rregullat per transportin/imazhin 100% natural */
.fundi2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vija-fundit{
    width:90%;
}
.imazh-natural {
    width: 100px;
    padding: 20px;
}
.rregulla ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: -5px;
    font-size: 17px;
    transition: font-size 0.3s ease;
}
.rregulla li {
    padding: 14px 35px;
}
.rregulla li a {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: block;
}
.rregulla li a:hover {
    color: #ffee00;
}
/* fundi fare */
.fundi3 {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fundi3 p{
    font-size: 15px; 
    margin-top:6px;
}
/* stilizim per butonin qe te con ne fillim te faqes */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #cef73a;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 14px 9px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    opacity: 0.8;
    z-index: 1000;
}
    /*kontakti page*/
    .starti-foto1 {
        display: flex;
        flex-direction: column;
        background-image: url(images/pexels-pixabay-460961.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: calc(100vh - 110px);
        justify-content: center;
        align-items: center;
        color:rgb(255, 255, 255);
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    }
    .kontakti{
        display:flex;
        flex-direction: column;
        height: 650px;
        background-color: #ffffff;
        padding:90px 100px;
        gap:0px;
        transition: padding ease-in-out 1s;
    }
    .emri5{
        display:flex;
        flex-direction: row;
        gap:20px;
        margin-top:-12px;
        margin-bottom:20px;
    }
    .lajm-kontakt{
        font-size:10px;
        margin-left:7px;
        margin-bottom:20px;
    }
    /*input label ne kontakti page*/
    input[type="text"] {
        border: 2px solid #afbdcf;
        border-radius: 5px;
        height: 50px;
        width:300px;
        color: #000000;
        font-size: 14px;
        padding-left: 20px;
        padding-top: 8px;
        box-shadow: none;  
    }
      input:focus + label, input:valid + label{
        font-size: 12px;
        color: #000000;
        top: 3px;
        left:5px;
        background: #ffffff;
        padding: 0px 5px 0px 5px;
        margin-left:5px;
      }
      .input_wrap {
        width:auto; 
        height:auto; 
        position:relative;
      }
      .input_wrap label {
        font-family:arial;
        font-size:16px;
        color: #afbdcf;
        padding: 14px;
        position: absolute;
        top: 2px;
        left: 0;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
        pointer-events: none;
      }
      input[type="text"]:focus, input[type="email"]:focus{outline:none;}
      .kontakt2{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top:10px;
      }   
      .kontakt2 img{
        width:40px;
        height:40px;
      }
      .rreshti-kontakt{
        display: flex;
        flex-direction: row;
        gap:10px;
      }
      .rreshti-kontakt p{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:1px;
      }
      .send-btn{
        padding:10px 40px;
        border-radius: 10px;
        border-color: #afbdcf;
      }
      #emailError{
        color: red; 
        opacity: 0; 
        visibility: hidden; 
        transition: opacity 0.3s ease, visibility 0.3s ease;
        margin-left:2px;
        width: 100%;
      }
      /*transporti/rikthimi/pagesa page*/
      .fusha{
        padding:20px 50px;
        gap:80px;
        height:auto;
        margin-bottom:100px;
      }
      .rregull-titull{
        font-size:25px;
      }
      .rregull-tekst{
        font-size:20px;
        margin-top:-10px;
      }
      /*galeria*/
      .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s;
    }
    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0);
        }
        to {
            -webkit-transform: scale(1);
        }
    }
    @keyframes animatezoom {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    .starti-foto2{
        display:flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:200px;
        justify-content: center;
        align-items: center;
    }
    .starti-foto2 h1{
        margin-top:130px;
    }
    .slogan2{
        padding:70px 60px;
        padding-right:50px;
        text-align: center;
        margin-top:-50px;
    }
    .galery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.7rem;
        max-width: 100%;
        padding:100px 50px 200px 50px;
        margin-top:-50px;
    }
    .tile img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .tile:nth-child(1) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .tile:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .tile:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }
    @media (max-width: 900px) {
        .galery {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: 700px) {
        .galery {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    /*faqja per produktet*/
    .starti-foto{
        display:flex;
        flex-direction: column;
        background-image: url(images/products-start.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: calc(100vh - 110px);
        justify-content: center;
        align-items: center;
    }
    .shif-rezultatet {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 89%; 
        margin: 0 auto; 
        position: relative; 
        z-index: 1;
    }
    .ngjyre{
        background-color: #fafafa;
        width: 100%;
    }
    .shif-rezultatet a {
        margin-left: 10px; 
    }
    .shif-rezultatet p {
        margin-right: 10px;
    }
    hr.shif {
        width: 89%;
        margin: -10px auto 0;
    }
    .items{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width:100%;
        padding:70px 50px 0 50px;
    }
    .item1 {
        display: grid;
        grid-template-columns: 1fr 2fr; 
        gap: 20px; 
        align-items: center;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px; 
        width: 90%; 
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    }
    .majtas1 {
        text-align: center; 
    }
    .majtas1 h5{
        font-size:20px;
        margin-top:25px;
    }
    .item2 .majtas1 img {
        width: 90px;
        height: 180px; 
        margin-top:0px;
    }
    .majtas1 img{
        width:150px;
        margin-top:0px;
    }
    .majtas1 .price {
        font-size: 20px;
        font-weight: bold;
        color: #333; 
        margin-top:30px;
    }
    .djathtas1 {
        padding-right: 50px;
    }
    .djathtas1 p{
        text-indent: 0.9em;
    }
    .djathtas1 ul {
        list-style-type: disc;
        margin: 0;
        padding-left: 20px; 
        line-height: 1.6; 
    }
    .djathtas1 ul li {
        margin-bottom: 10px; 
    }
    .djathtas1 ul li ul li{
        margin-bottom: -2px;
    }
    .djathtas1 ul li ol li{
        margin-bottom: -2px;
        margin-left:-22px;
    }
    .link-faqs{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .all-faqs {
        display: inline-block;
        padding: .85rem 1.45rem;
        border-radius: 10rem;
        color: #000000;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .15rem;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-decoration: none;
      }
      .all-faqs::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(253, 253, 138);
        border-radius: 10rem;
        z-index: -2;
      }
      .all-faqs::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgb(251, 255, 3);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      }
      .all-faqs:hover {
        color: #000000;
      }
      .all-faqs:hover::before {
        width: 100%;
      }
/* Phone mode */
.hamburger {
    display: none;
    margin-left: auto;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
    z-index: 25;
}
@media (min-width:1900px){
    .lista{
        width:1250px;
    }
}
@media (min-width:1990px) and (max-width:2500px){
    .kutite{
        padding: 50px 480px;
        justify-content: space-between;
    }
}
@media (min-width:1650px){
    /*homepage*/
    .historia{
        height:800px;
    }
    /*kontakti page*/
    .kontakti{
        padding:90px 300px;
    }
    /*produktet page*/
    .item1{
        height:500px;
    }
    /*gallery page*/
    .galery {
        grid-template-columns: repeat(5, 1fr);
        padding:100px 100px 200px 100px;
    }
}
@media (min-width:1370px){
    .scroll-container {
        display: flex;
        justify-content: center;
    }
    #scroll-left{
        left:0px;
        margin-top:70px;
    }
    #scroll-right{
        right:0px;
        margin-top:70px;
    }
}
@media (min-width:2501px){
    .kutite{
        align-items: center;
        justify-content: center;
        gap:630px;
    }
    .historia{
        width:2500px;
        height:900px;
    }
    .historia::before {
        background: linear-gradient(to top, rgba(255, 255, 255, 1.5), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1.5));
    } 
    .center{
        bottom:50px;
    }
    .qender, .qender2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .navbar, .fundi1, .starti-foto, .galery, .fusha, .permb, .starti-foto1, .kontakti, .shif-rezultatet, .items, 
    .ngjyre, .kontakt, .fundet{
        width:2500px;
    }
    .galery{
        padding:100px 50px 200px 50px;
        grid-gap: 0.8rem;
    }
    .produktet{
        width:2100px;
    }
    .shif-rezultatet{
        padding:0 55px;
    }
    .vija-fundit, hr.shif{
        width:2400px;
    }
}
@media (min-width:2100px) and (max-width:2500px){
    .produktet{
        width:2100px;
    }
    .qender2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media (min-width:2000px){
    .item1{
        width:1700px;
    }
}
@media only screen and (max-width: 1200px) {
    .vetite{
        flex-wrap: wrap;
    }
    .fundi1 h5 {
        margin-top: 70px;
        padding: 10px;
        font-size: 15px;
    }
    .logo-fundi {
        width: 170px;
        margin-top: -50px;
        margin-left: 20px;
    }
    .fundi1 {
        font-size: 18px;
    }
    .rregulla ul {
        font-size: 18px;
    }
    .homepage-start h2 {
        font-size: 22px;
    }
    .teksti{
        margin-top: 15px;
    }
    .histori{
        margin-top:-10px;
    }
    .lista{
        margin-left:-10px;
    }
    /*produktet section in home page*/
    .scroll-wrapper {
        width: 100%;
    }
    /*produktet page*/
    .majtas1 h5{
        padding: 0;
    }
}
@media (max-width: 999px) {
    .item1 {
        grid-template-columns: 1fr;
        text-align: center;
        width:75%;
        padding: 20px 40px;
    }
    .djathtas1 ul {
        padding-left: 10px; 
        text-align: left;
    }
    .djathtas1 ul li ul li{
        margin-left:0px;
    }
    .djathtas1 ul li ol li{
        margin-left:-32px;
    }
    .djathtas1 {
        padding-right: 0px;
    }
    .djathtas1 p{
        text-align: left;
    }
}
@media only screen and (max-width:850px){
    /* navbar */
    .nav-menu, .kontakt {
        right: -100%; 
        left:auto;
        flex-direction: column;
        background-color: rgb(255, 255, 100);
        width: 300px; 
        height: auto; 
        text-align: center;
        overflow-x: hidden; 
        transition: all 0.3s ease-in-out;
    }
    .nav-menu{
        position: absolute;
        top: 0px;
    }
    .nav-menu li:nth-child(4){
        margin-bottom:10px;
    }
    .nav-menu li:first-child{
        margin-top:70px;
    }
    .kontakt{
        position: absolute;
        top:267px;
        z-index: 1;
        padding: 5px 0px;
    }
    .social{
        margin-bottom:10px;
        font-size: 16px;
        margin-left:227px;
        margin-top:-10px;
    }
    .cel{
        justify-content: flex-end;
        text-align: end;
        margin-left:10px;
        flex-direction: column;
        font-size: 15px;
    }
    .cel p:first-child{
        margin-top:15px;
    }
    .cel p:last-child{
        margin-top:-10px;
    }
    .navbar{
        margin-top:0;
    }
    .nav-menu.active, .kontakt.active {
        right: 0;
        transition: right 0.3s ease-in-out;
    }
    .nav-menu li a:hover {
        color: rgb(255, 255, 255);
    }
    .nav-menu li {
        padding: 14px 20px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        height: 30px;
        width: 40px;
        margin-top: 13px;
        -webkit-tap-highlight-color:transparent;
        outline:none !important;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .boshlek{
        display: none;
    }
    .vije{
        display: block;
        margin-top:-3px;
        height:1px;
        width:90%;
        background-color: #000000;
    }
    /*kontakti page*/
    .emri5{
        flex-wrap: wrap;
    }
    .kontakt2{
        flex-wrap:wrap-reverse;
    }
    .starti-foto1{
        height:calc(100vh - 85px);
    }
    /*produktet page*/
    .starti-foto{
        height:calc(100vh - 85px);
    }
}
@media only screen and (max-width:850px){
    .logo-fundi {
        width: 130px;
        margin-top: -180px;
        margin-left: 0px;
        margin-bottom:20px;
    }
    .fundi1 h5:nth-child(1){
        margin-top:100px;
        padding-right:0px;
        padding-left:0px;
    }
    .fundi1 h5:nth-child(3){
        padding: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .fundi1 h5 {
        padding: 10px;
        text-align: center;
    }
    .fundi1 {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        height:auto;
    }
}
@media only screen and (max-width: 700px) {
    /* home page start */
    .big-logo {
        width: 250px;
    }
    .slogan {
        font-size: 17px;
    }
    .hexagon{
        width:700px;
        margin-left:-20px;
    }
    .histori{
        margin-left:-15px;
    }
    .histori-paragraf{
        padding:0 10px;
        font-size:16px;
        margin-left:-15px;
    }
    .link1{
        font-size:16px;
        margin-left: -25px;
    }
    .titull-produkti{
        font-size:25px;
    }
    /* fundi i site */
    .rregulla li {
        padding: 14px 25px;
    }
    .rregulla ul {
        font-size: 16px;
    }
    .homepage-start .slogan {
        font-size: 16px;
    }   
    .teskti-blete1, .teskti-blete2{
        font-size: 20px;
        padding-right:30px;
    }    
    .item1{
        width:90%;
    } 
}
@media only screen and (max-width: 520px) {
    .kutite{
        gap:70px;
        justify-content: center;
    }
    .blete, .family{
        width:400px;
        gap:5px;
        padding:40px 50px;
        height:400px;
    }
    /*kontakti page*/
    textarea{
        width:300px;
    }
    .kontakti{
        padding:30px 100px;
    }
    .kontakt2{
        justify-content: center;
        gap:20px;
        margin-top: 10px;
    }
    .emri5{
        margin-top:-10px;
    }
    .slogan2{
        font-size: 20px;
        padding:70px 60px;
    }
    .rreshti-kontakt{
        flex-direction: column;
        gap:0;
        margin-bottom:50px;
    }
    .rreshti-kontakt p:nth-child(2){
        margin-top:-10px;
    }
}
@media only screen and (max-width: 490px){
    /*kontakti page*/
    .kontakti{
        align-items: center;
    }
    #emailError{
        width: 200px;
    }
    .lajm-kontakt{
        margin-left:-105px;
    }
    .rregull-titull{
        font-size:20px;
    }
    .rregull-tekst{
        font-size:16px;
    }
}
@media only screen and (max-width: 479px) {
    .hamburger {
        top: 17px;
    }
    .nav-menu, .kontakt{
        width:100%;
    }
    .kontakt{
        top: 270px;
        padding-bottom: 17px;
    }
    .big-logo {
        margin-left: 5px;
    }
    h2 {
        font-size: 15px;
    }
    .logo{
        z-index: 100;
    }
    .social{
        position: absolute;
        font-size: 16px;
        bottom:0px;
        right:20px;
    }
    /*home page*/
    .p-kuti{
        font-size: 15px;
    }
    .blete, .family{
        width:300px;
        height:300px;
        gap:5px;
        padding:10px 40px;
        box-shadow: -8px -8px 7px rgb(251, 255, 3);
    }
    .blete img{
        width:100px;
    }
    .family img{
        width:100px;
    }
    .mjalte{
        padding:0 20px;
    }
    .li{
        font-size:16px;
    }
    .li img{
        margin-top:18px;
        width:15xp;
        height:13px;
    }
    .li p{
        margin-left:-2px;
    }
    .vetit-img{
        width:300px;
    }
    .historia{
        height:450px;
    }
    .hexagon{
        width:600px;
        margin-left: -20px;
    }
    .teksti{
        margin-top: 0px;
    }
    .teksti h2{
        margin-top:-20px;
    }
    .histori{
        font-size:20px;
        margin-top:0px;
        margin-left:-20px;
        padding: 20px 0;
        margin-bottom:28px;
    }
    .histori-paragraf{
        margin-top:-35px;
        margin-left:-20px;
        font-size:15px;
        padding:8px 10px;
        padding-bottom: 20px;
    }
    .titull-produkti{
        font-size:20px;
    }
    .scroll-wrapper {
        margin-left: 2px;  
        display: flex;
        justify-content: center;  
    }
    .scroll-item {
        width: 410px;
    }
    .scroll-content{
        margin-left:3036px; 
    }
    .link1{
        margin-top:-35px;
        margin-right:5px;
        font-size:15px;
        margin-left: -20px;
    }
    .arrow{
        width:8px;
        height:8px;
    }
    .texti-1liter {
        font-size: 18px;
    }
    .cmimi {
        font-size: 19px;
    }
    #scroll-left{
        left:5px;
    }
    #scroll-right{
        right:5px;
    }
    .text-box{
        margin-left:-3px;
    }
    .btn:link,.btn:visited{
        padding:10px 20px;
        font-size:15px;
    }
    .rregulla li{
        padding:10px 15px;
    }
    .rregulla ul {
        font-size: 14px;
    }
    .homepage-start h2 {
        font-size: 14px;
    }
    .fundi3 p{
        font-size: 12px; 
        margin-top:2px;
    }
    /*galery page*/
    .galery {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .slogan2{
        font-size: 18px;
        padding:70px 50px;
    }
    /*produktet page*/
    .shif-rezultatet{
        font-size:12px;
    }
    hr.shif{
        margin-top:-7px
    }
    .items{
        padding:70px 20px 150px 20px;
    }
    .majtas1 h5{
        font-size: 20px;
    }
}
@media only screen and (max-width: 425px) {
    .scroll-wrapper {
        margin-left: 2px;  
        display: flex;
        justify-content: center;  
    }
    .scroll-content{
        margin-left:2680px; 
    }
    .scroll-item{
        width:360px;
    }
    .item1{
        padding:20px 20px;
    }
}
@media only screen and (max-width: 386px) {
    /*produktet section in homepage*/
.scroll-wrapper {
    margin-left: 2px;  
    display: flex;
    justify-content: center;  
}
.scroll-content{
    margin-left:2265px; 
}
.scroll-item{
    width:300px;
}
#scroll-left{
    left:-10px;
}
#scroll-right{
    right:-10px;
}
.fusha{
    padding:20px 30px;
}
.slogan2{
    padding:70px 30px;
}
.fundi3 p{
    font-size:10px;
}
}
@media only screen and (max-width: 356px) {
    /*homepage*/
    .kutite{
        padding:0px 30px;
        font-size:20px;
    }
    .vlera-tlarta{
        margin-left:-4px;
        text-align: center;
    }
    .hexagon{
        width:480px;
        margin-left:-15px;
    }
    .histori{
        margin-top:0px;
        margin-bottom:20px;
    }
    .histori-paragraf{
        font-size: 12px;
        margin-top:-40px;
        margin-bottom:4px;
    }
    .items{
        padding: 70px 10px 100px 10px;
    }
    .nav-menu li:first-child{
        padding:14px 50px;
    }
    .vetite{
        padding:20px 30px;
    }
}
@media only screen and (max-width: 310px){
    textarea{
        width:220px;
    }
    .input_wrap input{
        width:220px;
    }
    .lajm-kontakt{
        margin-left:-90px;
    }
    #emailError{
        margin-left:15px;
    }
}
@media only screen and (max-width: 282px){
    /*navbar*/
    .social{
        margin-bottom:10px;
        font-size: 15px;
        margin-left:150px;
        margin-top:-10px;
    }
    /*fundi*/
    .rregulla li{
        padding:10px 7px;
    }
    .rregulla ul {
        font-size: 12px;
    }
    /*homepage*/
    .p-kuti{
        font-size: 14px;
    }
    .kutite{
        padding:50px 10px;
    }
    .family, .blete{
        padding:70px 20px;
    }
    .scroll-item h5{
        font-size: 15px;
    }
    .scroll-to-top{
        bottom: 10px;
        right: 10px;
        padding: 4px 10px;
    }
    /*kontakti page*/
    .starti-foto1 p{
        text-align: center;
    }
    /*galeria*/
    .galery{
        padding:100px 20px 200px 20px;
    }
}
